*{
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    }

    .header{
    min-height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/1st.jpg);
    background-position: centre;
    background-size: cover;
    position: relative;
    }
    nav{
        display: flex;
        padding: 1% 2%;
        justify-content: space-between;
        align-items: center;
        width: 98%;
        transition: top 0.3s;
        position: fixed;
        background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));
    }

    nav img{
        width: 50px; 
    
    }
  
    h4{
        text-align:left;
        padding-top: 5px;
        font-family: Arial;
        font-size: 20px;
        font-weight: 500;
        color: cornflowerblue;
    }
h2{
    font-size: 40px;
    font-weight: 600;
    padding-top: 35px;
    padding-bottom: 20px;
    text-align: center;
    color:dimgray;
}
    
    .nav-links{
        flex: 1;
        text-align: right;
    }
    .nav-links ul li{
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
    }
    .nav-links ul li a{
        color: #fff;
        text-decoration: none;
        font-size: 13p;
    }
    .nav-links ul li::after{
        content: '';
        width: 0%;
        height: 2px;
        background: #f44336;
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    .nav-links ul li:hover::after{
        width: 100%;
    }
.text-box{ 
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{ 
    font-size: 70px;
}
.text-box p{ 
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #34495E;
    background: #34495E;
    transition: 1s;
}

nav .fa{
    display: none;
}

.form{
    width: 250px;
    height: 310px;
    background:linear-gradient(to top, rgba(0,0,0,0.5)-10%,rgba(0,0,0,0.5)-10%);;
    position: absolute;
    top: 153px;
    right: 60px;    
    border-radius: 10px;
    padding: 25px;
}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: cornflowerblue;
    font-size: 22px;
    background-color: #fff; 
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input{
    width: 240px;
    height: 35px;
    background:lavender;
    border-bottom: 1px cornflowerblue;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #777;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 15px;
    font-family: sans-serif;
}

input[type="checkbox"] {
    height: 15px !important;
    width: 24px !important;
}
label {
    color: #777;
}

.btn{
    width: 240px;
    height: 40px;
    background: cornflowerblue;
    border: none;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
}
.btn:hover{
    background: #fff;
    color: cornflowerblue;
}

@media(max-width: 700px){
    .text-box h1{ 
        font-size: 20px; 
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links ul li{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;

    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}
/*----- Assistance -----*/

.Assistance{
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    
}

.Assistance img{
    height: 200px;
}

h1{
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    color: aliceblue;
}

a:link {
    text-decoration: none;
}
 
p{
    color: #777;
    font-size: 17px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: center;
    
}

.row{
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    padding-top: 5px;
    min-height: 20vh;
    width: 100%;
    column-gap: 60px;
    background-color: #EFF4F8;
}

.row1{
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    padding-top: 5px;
    min-height: 20vh;
    width: 100%;
    column-gap: 60px;
}
.assistance-column{
    flex-basis: 31%;
    background: #EFF4F8;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.assistance-column:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
/*----- Contact Us page-----*/
.location{
    width: 80%;
    margin: auto;
    padding: 30px 0;
}
.location iframe{
    width: 100%;
}

/*----- Call To Action-----*/
.cta{
    margin: 0px;  
    width: 100%;
    background-position: center;
    background-size: contain;
    border-radius: 0px;
    text-align: center;
    background-color: #777;
 }
.cta h1{
    color:#fff3f3;
    margin-bottom: 40px;
    padding: 0;
}

.footer-dark {
    padding:10px; 
    color:#f0f9ff;
    background-color: #2E4053  ;
  }
  
  .footer-dark h3 {3
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }

  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }

  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:6px;
  }

  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  opacity: 4;
  font-size:13px;
  margin-bottom:0;
}





/*----- About Us page-----*/
.sub-header{
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/1st.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    margin-top: 100px;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
    height: 350px;
}
.about-col h2{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}

.row2{
    margin-top: 0%;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    padding-top: 5px;
    min-height: 20vh;
    width: 100%;
    column-gap: 60px;
    background-color: #2E4053;

/*----- Services page-----*/
.sub-header{
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/1st.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    margin-top: 100px;
}

.row1{
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    padding-top: 5px;
    min-height: 20vh;
    width: 100%;
    column-gap: 60px;
    background-color: #EFF4F8;
}
.services{
    width: 80%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 50px;
}
.service-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.service-col img{
    width: 100%;
    height: 350px;
}
.service-col h2{
    padding-top: 0;
}
.service-col p{
    padding: 15px 0 25px;
}


/*-----Contact page-----*/
.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.body{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/1st.jpg);
    background-position: center;
}

/*-----Log in page-----*/
.logform{
    width: 250px;
    height: 380px;
    background:linear-gradient(to top, rgba(0,0,0,0.5)-10%,rgba(0,0,0,0.5)-10%);;
    position: absolute;
    top: 240px;
    right: 560px;    
    border-radius: 10px;
    padding: 25px;
}
.logform h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: cornflowerblue;
    font-size: 22px;
    background-color: #fff; 
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.logform input{
    width: 240px;
    height: 35px;
    background:lavender;
    border-bottom: 1px cornflowerblue;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #777;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 15px;
    font-family: sans-serif;
}

input[type="checkbox"] {
    height: 15px !important;
    width: 24px !important;
}
label {
    color: #777;
}
.btn{
    width: 240px;
    height: 40px;
    background: cornflowerblue;
    border: none;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
}
.btn:hover{
    background: #fff;
    color: cornflowerblue;
}

@media(max-width: 700px){
    .text-box h1{ 
        font-size: 20px; 
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links ul li{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;

    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}