/*----- Assistance -----*/

.Assistance{
    width: 100%;
    margin: auto;
    text-align: center;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.jpeg);
    padding-top: 20px;   
    background-position: centre;
    background-size: cover;
    position: relative;
    
}

.Assistance img{
    height: 200px;
}

h1{
    color:cornflowerblue;
    font-size: 36px;
    font-weight: 600;
    margin: 2px;
}

a:link {
    text-decoration: none;
  }
  
p{
    color: #777;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 5px;
    
}

.row{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    min-height: 20vh;
    width: 94%;
    column-gap: 55px;

}
.assistance-column{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.assistance-column:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
/*----- Contact Us page-----*/
.location{
    width: 80%;
    margin: auto;
    padding: 40px 0;
}
.location iframe{
    width: 100%;
}
h1{
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    padding-top: 20px;
}
p {
    text-align: center;
}
p{
    color: #777;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 5px;
    
}
/*----- Call To Action-----*/

.cta{
    margin: 0px; 
    margin-top: 50px;  
    width: 100%;
    background-image: linear-gradient(rgba(39, 145, 187, 0.7), rgba(39, 145, 187, 0.7)),url(images/contact.jpg);
    background-position: center;
    background-size: contain;
    border-radius: 0px;
    text-align: center;
    padding: 16px 0;
    background-color: #777;
 }
.cta h1{
    color:#fff3f3;
    margin-bottom: 40px;
    padding: 0;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa{
    display: none;
}


@media (max-width: 700px {
    .cta h1{
        font-size: 24px;
    }
}
